body {
	background-color: black;
	margin-top: 50px;
	background-image: url("../images/buying.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

/*HEADER CSS --------------------------------------------------------------------------*/
#header {
	margin-bottom: 20px;
}

#buyak-logo{
	top: -20px;
}

span {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #31C8C8;`
	margin-top: 25px;
}


input {
	color: #909996;
	border-radius: 5px;
	border-style: none;
}

#searchProduct {
	background-color: #31C8C8;
	color: #fff;
	border-radius: 5px;
    padding: 6px;
}

#wishlist {
	margin-top: 30px;
	font-family:'Open Sans', sans-serif;
	font-size: 15px;
	background-color: #31C8C8;
	color: #fff;
	border-radius: 5px;
	border-style: none;
	border-color: #31C8C8;
	border-width: 4px;
	width: 100%;
    padding: 6px;
}
/*--------------------------------------------------------------------------*/


/*CONTENT SECTION CSS --------------------------------------------------------------------------*/

.walmart, .ebay, .bestbuy, .sears {
	position: relative;
	height: 100%;
}

.logo {
	max-height: 100%;  
    max-width: 100%; 
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}



/*--------------------------------------------------------------------------*/

/*PRODUCT MODAL CSS --------------------------------------------------------------------------*/

.panel {
	/*height: 100%;*/
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #fff;
	border-radius: 5px;
	border-style: none;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.3);
}

.panel-footer {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0 0 5px 5px;
}

/*.row-1, .row-2 {
	margin-bottom: 20px;
}*/


.btn {
	background-color: #31C8C8;
	color: #fff;
	//margin-top: 20px;
	border-style: none;
}

.product-image {
	size: 100%;
	margin-left: -15px;
}

.panel p {
	margin-left: -15px;
}


/*--------------------------------------------------------------------------*/

/*WISHLIST SECTION CSS --------------------------------------------------------------------------*/

#wishListSection {
    background-color: #F8F4F4;
}

#wishListGrid {
	font-family:'Open Sans', sans-serif;
}

.section-heading {
	font-size: 60px;
}

#wishListItems {
	margin-top: 30px;
}



/*--------------------------------------------------------------------------*/
/*---------------Added from : stylelanding.css---------------------------------------*/
p {
    font-size: 15px;
    line-height: 1.0;
    color: grey;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}
label {
     font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #31C8C8;
}
section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}
section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
/*.item{
    margin: 10px auto;
    height: 210px;
}*/
.titleProduct{
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

/*comparison buttons*/
#walmart, #ebay, #bestbuy, #sears {
    margin-top: -160px;
}

.well{

    background-color: #ffffff;
    color: grey;
}
.salePrice{
    font-size: 18px;
    font-weight: 500;
}
.badge{     
    min-width: 10px;
    padding: 3px 7px;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    color: #fff;    
    white-space: nowrap;    
    background-color: #30c7c7;
    border-radius: 5px;
    margin-top: 5px;
}
.btn {
    background-color: #31C8C8;
    color: #fff;
}
.store{   
    padding: 5px 25px;
    width: auto;
    height: 50px;
    background-color: #31C8C8;
    margin: 10px;
}
.removeItem{
   background-color: red;
   margin-left: 5px;
}



/*--------------------------------------------------------------------------------------*/









